@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}

.navbar {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item .navbar-link {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.navbar-item {
  max-width: 116px;
}

.navbar-item:not(:last-child) {
  margin-right: 80px;
}

.navbar-contacts {
  text-align: right;
}

.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.navbar-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
}

.main {
  width: 1240px;
  margin: auto;
  padding-top: 54px;
  display: flex;
  overflow: auto;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-img path {
  opacity: 0;
  cursor: pointer;
}

.home-img path:hover {
  opacity: 1;
}

path.current-floor {
  opacity: 1;
}

path.current-room {
  opacity: 1 !important;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  background: none;
  border: none;
}

.counter-arrow {
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}

.main-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
  margin: 0;
}

.counter {
  font-family: 'Bebas Neue', sans-serif;
  color: #635854;
  font-size: 124px;
}

.button-primary {
  background: #3596f5;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 16px 36px;
  cursor: pointer;
}

.modal.active {
  display: flex;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.modal .modal-dialog {
  max-width: 1000px;
  min-height: 565px;
  background-color: #ebebeb;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 11;
}

.modal .modal-image {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
}

.modal .modal-image .modal-title {
  margin-top: 50px;
  margin-bottom: 25px;
}

.modal .modal-info {
  width: 400px;
  max-height: 565px;
  background-color: #fff;
  padding-left: 46px;
}

.modal .modal-info .modal-title {
  margin-top: 50px;
}

.modal .modal-info-wrapper {
  max-width: 229px;
}

.modal .close {
  position: absolute;
  top: 40px;
  right: 30px;
  cursor: pointer;
}

.modal .modal-title,
.modal .current-floor {
  font-family: 'Bebas Neue';
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  color: #000;
}

.modal .modal-floor path {
  opacity: 0;
  cursor: pointer;
}

.modal .modal-floor path:hover {
  opacity: 1;
}

.modal .modal-list {
  list-style: none;
  margin-top: 55px;
}

.modal .modal-list .modal-item a {
  color: inherit;
}

.modal .modal-list .modal-item {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  max-width: 185px;
  cursor: pointer;
}

.modal .modal-list .modal-item:hover {
  text-decoration: underline;
  color: #3596f5;
}

.current-modal-item {
  text-decoration: underline;
  color: #3596f5 !important;
}

.modal .modal-list .modal-item:not(:last-child) {
  margin-bottom: 10px;
}

.modal .modal-desc {
  font-family: 'Roboto';
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  max-width: 230px;
  margin-top: 55px;
  color: #635854;
}
